<section>
  <!-- String Interpolation -->
  <h3>
    {{ title }}
  </h3>
  <!-- Event Binding -->
  <form (ngSubmit)="add()">
    <label class="form-label" for="tarea2">Tarea</label>
    <input
    class="form-control"
    id="tarea2"
    name="task"
    [placeholder]="placeholder"
    type="text"
    [(ngModel)]="todo.task"
    />
    <button class="btn btn-primary mt-2" type="submit">Agregar tarea</button>
  </form>
</section>


<section>
  <!-- String Interpolation -->
  <h3>
    {{ title }}
  </h3>
  <!-- Event Binding -->
  <form (submit)="addWithEvent($event)">
    <label class="form-label" for="tarea">Tarea</label>
    <input
    class="form-control"
    id="tarea"
    (input)="inputHandler($event)"
    [value]="todo.task"
    [placeholder]="placeholder"
    type="text">
    <button class="btn btn-primary mt-2" type="submit">Agregar tarea</button>
  </form>
</section>
